@import url('http://fonts.googleapis.com/css?family=Pacifico|Calligraffitti|Cabin+Sketch');		
 h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
	font-size: 50px;
	  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	  margin-top: 0px;
    }
h2 {
    font-family: 'Cabin Sketch', serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 23px;
    letter-spacing: 2px;
	font-size: 30px;
	color: brown;
       }
p {
    font-family: 'Calligraffitti';
	font-size: 23px;
	    }
.begin{
	background-color: #ff4da6;
	height: 75px;
	padding: 5px 5px 5px 5px;
	margin: 0px;
}
body{ 
background: url("flower.jpg");
margin: 0px;
}
.body{ 
width: 75%;
margin: auto;
background-color: #f4f4d7;
height: 100%;
padding: 5px 5px 5px 5px;
}
.img-circle {
    border-radius: 50%;
	width: 250px;
	height: 350px;
	}
.pic{
	margin-left: 40px;
	margin-top: 20px;
	
}
.title {
		width: 400px;
	padding: 5px 5px 5px 5px;
	float: right;
	margin-top: 10px;
}
	
