@import url('http://fonts.googleapis.com/css?family=Pacifico|Amatic+SC:700|Grand+Hotel');		
 h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
	font-size: 50px;
	  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	  margin-top: 7px;
    }
h2 {
    font-family: 'Grand Hotel', serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 23px;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Amatic SC', serif;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
div{
	background-color: #ff4da6;
	height: 75px;
	padding: 5px 5px 5px 5px;
	margin: 0px;
}
head{
	background-color: #ff4da6;
	}
body{ 
background: url("flower.jpg");

margin: 0px;
}
.body{ 
width: 75%;
margin: auto;
background-color: #f4f4d7;
height: 100%;
padding: 5px 5px 5px 5px;
}
.img-circle {
    border-radius: 50%;
	width: 250px;
	height: 350px;
}
